.about {
    width: 90%;
    margin: auto;
    min-height: 80vh;
    @include flex(space-between, center, row);
    // text-align: center;
    flex-wrap: wrap;
    h2 {
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
    text-decoration: underline;
    }
  }
  .header-about {
    background: rgb(40, 40, 41);
    min-height: 20vh;
    @include flex (center, center, center);
    filter: brightness(120%);
  }

  .header-about-title {

color: white;
  }
  .about-image
   {
    flex: 1 1 20rem;
    width: 20%;
  }
  
  .about-description {
     flex: 1 1 20rem;
     margin: 5rem;

     p {
       line-height: 1.2;
     }
       }

       .skills {
           display: flex;
           justify-content: space-between;
           margin-left: 3em;
       }